body {
    font-family: Arial, sans-serif;
    background-color: #989898;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

#game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}


.title {
    color: #009688;
}

#intro-container {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-top: 20px;
}

.intro-text {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
}

#start-button {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: #007d72;
}

.question-heading {
    color: #009688;
    font-size: 20px;
    margin-top: 20px;
}

.question {
    color: #333;
    font-size: 18px;
    margin: 10px 0;
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-button {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer-button:hover {
    background-color: #007d72;
}

#score {
    color: #333;
    font-size: 18px;
    margin-top: 20PX;
}

.button-style {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #009688;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-style:hover {
    background-color: #0056b3; 
}

.win-text {
    font-size: 20px; 
    font-weight: bold;
    color: #009688; 
    margin-bottom: 10px; 
}

.win-image {
    max-width: 100%; 
    margin-top: 10px; 
}

#intro-image {
    display: none;
}

